# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
pierreduplouy.front/
/tmp
dist

# dependencies
front/node_modules

# IDEs and editors
/.idea

# e2e
front/e2e/*.js
front/e2e/*.map


front/src/assets/photo-gallery/*
front/src/assets/Favicon.svg
front/src/assets/Logo.svg
