<div class="img-gallery">
  <div *ngFor="let image of imageSources; let i = index">
    <article class="box-cell" id="no{{ i + 1}}">
      <a href="{{ route }}#no{{ i + 2 }}">
        <img class="img-std" [src]=image>
      </a>
    </article>
  </div>
</div>
<div class="thumbs-gallery" [style.top]="250-(currentElement/700)*40+'px'">
  <ul>
    <div *ngFor="let image of imageSources; let i = index">
      <li class="thumb">
        <a href="{{ route }}#no{{ i + 1}}">
          <img class="img-thumb" [style.opacity]="getThumbOpacity(currentElement, i + 1)" [src]=image>
        </a>
      </li>
    </div>
  </ul>
</div>