
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d166591.4197984404!2d0.885525!3d49.276569!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeca6c62dccacd1b1!2sDu+Plouy+Bernadette!5e0!3m2!1sen!2sfr!4v1509835605228"
  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<h2>Pierre du Plouy</h2>
<h3>Peintre | Photographe</h3>

<h5> N’hésitez pas à passer me voir à l’atelier du <strong>CHÂTEAU DE BOSCHERVILLE</strong> au 27520 Bourgtheroulde-Infreville</h5>

<h3>06 62 22 10 51</h3> 
<h3>pierreduplouy@hotmail.com</h3>
<div class="container">
  <a class="wdwt-social-fb wdwt-social-link" href="https://www.facebook.com/pduplouy?fref=ts" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
</div>