<div [class]="navbarName">
  <a class="logo" href="/home"><img class="logo" src="/assets/Logo.svg"/></a>
  <div class="topnav-content">

    <a href="/home">Accueil</a>

    <a class="dropdown">
      <span class="dropdown-btn">Peinture<select></select></span>
      <div class="dropdown-content">
        <a href="/portfolio/PeintureAbstraite">Abstrait</a>
        <a href="/portfolio/Nues">Nus</a>
      </div>
    </a>

    <a class="dropdown">
      <span class="dropdown-btn">Photographie<select></select></span>
      <div class="dropdown-content">
        <a href="/portfolio/RefletDO">Reflets</a>
        <a href="/portfolio/Ciel">Ciel</a>
        <a href="/portfolio/Paysage">Paysage</a>
        <a href="/portfolio/Spirit">Spirit</a>
        <a href="/portfolio/Vegetal">Vegetal</a>
        <a href="/portfolio/Animal">Animal</a>
      </div>
    </a>

    <a href="/contact">Contact</a>

    <a class="icon" (click)="expandNavbar()">&#9776;</a>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
