<div class="biographie">
  <p>
    Né en 1977, j’ai suivi un parcours scolaire général en Normandie puis après le lycée, intégré l’école préparatoire aux grandes écoles d’art de l’Académie Charpentier à Paris.
    J’ai poursuivi ma formation en suivant des cours à l’ERSEP de Tourcoing puis l’école de photographie de la ville de Bruxelles.
  </p>
  <p>
    Après quelques temps de bohème, j’ai regagné ma Normandie natale et je me suis installé dans la propriété familiale du château de Boscherville, où j’ai posé mon chevalet dans mon atelier.
    En suivant le rythme des saisons, je puise mon inspiration dans le spectacle d’un perpétuel changement de couleur et de lumière de la flore normande.
  </p>
  <br>
  <h1>“La peinture vient de l’endroit où les mots ne peuvent plus s’exprimer…”</h1>
  <p style="text-align: right">Gao XINGJANG - La montagne de l’âme.</p>
  <br>
  
  <p>Mes peintures figuratives tentent de faire rejaillir la beauté de mes modéles vivants.</p>
  
  <p>Aimant les balades emplies de quiètude, mes clichés photographiques remplacent mon carnet de croquis selon une quête émotive de l’image.</p>
  
  <p>
    Chaque nouvelle journée, rencontre, lecture, musique, sentiment rejaillissent dans mes créations et nourrissent mon imagination sans cesse en éveil.
    La spiritualité m’offre le recueillement nécessaire pour créer avec foi et raison en lien avec l’acte physique.
  </p>
      
  <p>Heureux de partager mon travail avec tous je reste artistiquement votre.</p>
  
  <p>Pierre du Plouy</p>
</div>
