<div [class]="navbarName">
  <a class="logo" href="/accueil"><img class="logo" src="/assets/Logo.svg"/></a>
  
  <div class="topnav-content">
    
    <a href="/accueil">Accueil</a>

    <a class="dropdown">
      <span class="dropdown-btn">Peinture <i class="fa fa-caret-down"></i></span>
      <div class="dropdown-content">
        <a href="/portfolio/PeintureAbstraite">Abstrait</a>
        <a href="/portfolio/Nues">Nus</a>
      </div>
    </a>

    <a class="dropdown">
      <span class="dropdown-btn">Photographie <i class="fa fa-caret-down"></i></span>
      <div class="dropdown-content">
        <a href="/portfolio/RefletDO">Reflets</a>
        <a href="/portfolio/Ciel">Ciel</a>
        <a href="/portfolio/Paysage">Paysage</a>
        <a href="/portfolio/Spirit">Spirit</a>
        <a href="/portfolio/Vegetal">Vegetal</a>
        <a href="/portfolio/Animal">Animal</a>
      </div>
    </a>

    <a class="dropdown">
      <span class="dropdown-btn">A propos <i class="fa fa-caret-down"></i></span>
      <div class="dropdown-content">
        <a href="/biographie">Biographie</a>
        <a href="/presse">La Presse en Parle</a>
        <a href="/evenements">Evénements</a>
      </div>
    </a>


    <a href="/contact">Contact</a>

    <a class="icon" (click)="expandNavbar()"><i class="fa fa-bars"></i></a>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
