h3 {
    text-align: left;
}

hr {
    opacity: 0.2;
}
.event {
    margin: 5%;
}

.date {
    float: left;
    width: 20%;
}

.corpus {
    margin: 5%;
    float: left;
    width: 60%;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1em
    }
}
